{% extends "base.html" %}
{% block title %}
    Welcome To Vikramshila - Home
{% endblock %}
{% block body %}

<div class="p-4 p-md-5 mb-4 rounded text-bg-dark"
    style="position: relative;margin-top: 47px; display: flex;height: 60vh;justify-content: center;align-items: center;">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to Vikramshila</h1>
        <p class="lead my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error rerum tempora, sed
            pariatur in quia consequatur esse facere facilis aliquam consequuntur eum maiores impedit suscipit!
            Itaque natus id magnam voluptatibus.</p>
        <p class="lead mb-0"><a href="/" class="text-white fw-bold">Vikramshila</a></p>
    </div>
</div>

<main class="container my-3">
    <h1 class="text-center m-3">All Categories</h1>

    <div class="row mb-2">
        <div class="col-md-6">
            <div
                class="my-3 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">vikramshila</strong>
                    <h3 class="mb-0">Jobs</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Small Description Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Enim, pariatur?
                    </p>
                    <p>
                        <a class="btn btn-outline-secondary mt-2" href="about/" role="button">Explore »</a>
                    </p>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img style="height: 100%;"
                        src="https://www.codewithharry.com/_next/image/?url=https%3A%2F%2Fcodewithharry.nyc3.cdn.digitaloceanspaces.com%2Fassets%2Fe1c843acc10c59c60504cd438a082c6d.png&w=384&q=75"
                        class="img-fluid rounded-start" alt="loading...">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div
                class="my-3 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">vikramshila</strong>
                    <h3 class="mb-0">Jobs</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Small Description Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Enim, pariatur?
                    </p>
                    <p>
                        <a class="btn btn-outline-secondary mt-2" href="about/" role="button">Explore »</a>
                    </p>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img style="height: 100%;"
                        src="https://www.codewithharry.com/_next/image/?url=https%3A%2F%2Fcodewithharry.nyc3.cdn.digitaloceanspaces.com%2Fassets%2Fe1c843acc10c59c60504cd438a082c6d.png&w=384&q=75"
                        class="img-fluid rounded-start" alt="loading...">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div
                class="my-3 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">vikramshila</strong>
                    <h3 class="mb-0">Jobs</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Small Description Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Enim, pariatur?
                    </p>
                    <p>
                        <a class="btn btn-outline-secondary mt-2" href="about/" role="button">Explore »</a>
                    </p>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img style="height: 100%;"
                        src="https://www.codewithharry.com/_next/image/?url=https%3A%2F%2Fcodewithharry.nyc3.cdn.digitaloceanspaces.com%2Fassets%2Fe1c843acc10c59c60504cd438a082c6d.png&w=384&q=75"
                        class="img-fluid rounded-start" alt="loading...">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div
                class="my-3 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">vikramshila</strong>
                    <h3 class="mb-0">Jobs</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Small Description Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Enim, pariatur?
                    </p>
                    <p>
                        <a class="btn btn-outline-secondary mt-2" href="about/" role="button">Explore »</a>
                    </p>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img style="height: 100%;"
                        src="https://www.codewithharry.com/_next/image/?url=https%3A%2F%2Fcodewithharry.nyc3.cdn.digitaloceanspaces.com%2Fassets%2Fe1c843acc10c59c60504cd438a082c6d.png&w=384&q=75"
                        class="img-fluid rounded-start" alt="loading...">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div
                class="my-3 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">vikramshila</strong>
                    <h3 class="mb-0">Jobs</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Small Description Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Enim, pariatur?
                    </p>
                    <p>
                        <a class="btn btn-outline-secondary mt-2" href="about/" role="button">Explore »</a>
                    </p>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img style="height: 100%;"
                        src="https://www.codewithharry.com/_next/image/?url=https%3A%2F%2Fcodewithharry.nyc3.cdn.digitaloceanspaces.com%2Fassets%2Fe1c843acc10c59c60504cd438a082c6d.png&w=384&q=75"
                        class="img-fluid rounded-start" alt="loading...">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div
                class="my-3 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">vikramshila</strong>
                    <h3 class="mb-0">Jobs</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Small Description Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Enim, pariatur?
                    </p>
                    <p>
                        <a class="btn btn-outline-secondary mt-2" href="about/" role="button">Explore »</a>
                    </p>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img style="height: 100%;"
                        src="https://www.codewithharry.com/_next/image/?url=https%3A%2F%2Fcodewithharry.nyc3.cdn.digitaloceanspaces.com%2Fassets%2Fe1c843acc10c59c60504cd438a082c6d.png&w=384&q=75"
                        class="img-fluid rounded-start" alt="loading...">
                </div>
            </div>
        </div>


    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                How to use this Website
            </h3>
            <div class="bg-light p-5 rounded my-5">
                <div class="col-sm-8 py-5 mx-auto">
                    <h1 class="display-5 fw-normal">Something About Vikramshila</h1>
                    <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam error
                        repellendus quam. Voluptate, rem similique. Quia repellendus, soluta sapiente quibusdam
                        accusamus odio veniam ex, ratione odit sequi quaerat deserunt excepturi commodi, animi fuga!
                        Maxime aperiam laborum ex quod quidem amet. Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Suscipit, blanditiis.</p>
                    <p>
                        <a class="btn btn-primary" href="about/" role="button">Learn More »</a>
                    </p>
                </div>
            </div>

            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">Go To Top</a>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your
                        publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Categories</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="/">Home</a></li>
                        <li><a href="jobs/">Jobs</a></li>
                        <li><a href="services/">Services</a></li>
                        <li><a href="products/">Products</a></li>
                        <li><a href="about/">About</a></li>
                        <li><a href="contact/">Contact Us</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Discord</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}