{% extends 'base.html' %}
{% block title %} {{product.title}} - Vikramshila{% endblock %}
{% block body %}


<div class="container my-3" style="border: 2px solid gray;box-shadow: 2px -1px 20px 0px; margin-top: 85px;">
    <div style="margin-top: 85px;">
        <h1 class="text-center text-primary my-4">{{product.category.title}} - {{product.categoryItem.title}}</h1>
        <div class="card">
            <div style=" width: 100%;height: 473px;">
                <img src="/media//{{product.image}}" class="img-fluid" alt="{{product.title}}"
                    style="width: 100%; height: 100%;">
            </div>
        </div>
        <div class="my-4">
            <div class="container"> 
                <h4 class="card-text"><small class="text-muted">Last Update at: <span class="text-muted">{{product.datetime}}</span></small></h4>
                <h1>{{product.title}}</h1>
                <p>{{product.description}}</p>
                <span class="a-offscreen mb-3" style="font-size: 2rem;color: black;font-weight: bold;">₹{{product.price}}.00</span>
            </div>
            <a class="btn btn-outline-success mt-2 mx-3">Contact: {{product.contact}}</a>
            {% if isProduct %}
                <a class="btn btn-primary" href="/checkout?price={{product.price}}">Checkout</a>
            {% endif %}
        </div>
    </div>

    <hr class="mt-5">
    <div style="height:100%;">
        <h1 class="my-5">More Jobs And Products</h1>
        {% for item in allItems %}
        <div class="card mb-3">
            {% csrf_token %}
            <div>
                <div>
                    <div class="card-body">
                        <strong class="d-inline-block mb-2 text-primary">{{item.category.title}} -
                            {{item.categoryItem.title}}</strong>
                        <h3 class="card-title text-success">{{item.title}}</h3>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text"><small class=" text-primary">Last Update at {{item.datetime}}</small></p>
                        <span class="a-offscreen" style="font-size: 2rem;color: black;font-weight: bold;">₹{{item.price}}.00</span>
                    </div>
                    <p>
                        <a class="btn btn-outline-success mt-2 mx-3">Contact: {{item.contact}}</a>
                        <a href="/products/{{item.id}}"><button id="qv{{item.id}}"
                                class="btn btn-danger mt-2 mx-2">Quick View</button></a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}