{% extends 'base.html' %}
{% load static %}

{% block title %}
    Available Jobs - Vikramshila
{% endblock %}

{% block body %}
    {% for item in jobs %}
    <form acrtion="categoryList.php" method="post" _ngcontent-serverapp-c44="" class="card mx-4 my-2 mb-4 p-2 align-items-center" style="width: 18rem;"><img _ngcontent-serverapp-c44="" style="    height: 180px;" src="/static/img_home/video.jpg" alt="..." class="padded card-img-top">
        <div _ngcontent-serverapp-c44="" class="card-body">
            <h5 _ngcontent-serverapp-c44="" name="title" class="card-title text-center">Video Tutorials </h5>
            <p _ngcontent-serverapp-c44="" name="description" class="card-text text-center">In this session you have to see all programming related courses in video form from co... 
                </p>
                <a _ngcontent-serverapp-c44="" routerlink="/videos" class="btn btn-primary d-block" href="categorylist.php?category_id=1">Video Tutorials </a>
        </div>
         </form>
    {% endfor %}
{% endblock %}